#header { 
	color: white;
	text-align: center;
	background-color: blue;
	position: static;
	margin-top: 0%;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	padding-top: 1%;
	padding-bottom: 1%;
}
#Member_Information {
	left: 0%;
	top: 20%;
	margin-top: 5%;
	border: 1% black;
	color: white;
	background-color: gray;
	height: 80%;
	width: 20%;
	position: absolute;
	margin-bottom: 8%;
}
#section {
	position: relative;
	color: black;
	left: 21%;
	top: 27%;
	height: 69%;
	width: 80%;
	position: absolute;
	background-color: white;
	margin-right: 30%;	
}
h3.one {
	position: relative;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
	height: 26%;
	width: 30%
	text-align: center;
	border: 1px solid blue;
}
img.home {
	position: relative;
	height: 26%;
	width: 60%;
	margin-top: 2%;
	margin-bottom: 2%;
}
#footer {
	color: white;
	text-align: center;
	left: 0%;
	bottom: 0%;
	width: 100%;
	position: fixed;
	background-color: black;
}
#container {
	.carousel-inner > .item > img,
  	.carousel-inner > .item > a > img {
      width: 100%;
      height: 50%;
      margin: auto;
  }
}
#donations_paragraph {
	color: black;
	text-align: center;
	margin-right: 20%;
	background-color: white;
	position: static;
}
.image-wrapper {
  width: 80%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.04);
  overflow: hidden;
  position: relative;
  text-align: center;
  border-radius: 4px; }

.image-overlay-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }

.overlay-fade-in p {
  letter-spacing: 0.15em;
  color: #f4f4f4;
  font-size: 28px;
  opacity: 0;
  -webkit-transition: all 0.2s linear; }
.overlay-fade-in img {
  -webkit-transition: all 0.2s linear; }
.overlay-fade-in .image-overlay-content {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.4s ease-in-out; }
.overlay-fade-in h2 {
  color: #f2f2f2;
  font-size: 1.8rem;
  margin-top: 40%;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.7); }
.overlay-fade-in .button {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #FFF;
  color: #222;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  position: relative;
  border: 1px solid #999;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out; }
  .overlay-fade-in .button:hover {
    box-shadow: 0 0 5px #000; }
.overlay-fade-in:hover img {
  transform: scale(1.2); }
.overlay-fade-in:hover .image-overlay-content {
  opacity: 1; }
.overlay-fade-in:hover h2, .overlay-fade-in p, .overlay-fade-in .button {
  opacity: 1; }
.overlay-fade-in:hover p {
  -webkit-transition-delay: 0.1s; }
.overlay-fade-in:hover .button {
  -webkit-transition-delay: 0.2s; }
#order_form {
	left: 5%;
	margin-top: 10%;
}
#t-shirt {
	color:black;
	margin-top: 20%;
	margin-left: 0%;
	margin-right: 0%;
	
	background-color: white;
	position: static;
}
#long_sleeve {
	color:black;
	margin-right: 0%;
	background-color: white;
	position: static;
}
#hoodie {
	color:black;
	margin-right: 0%;
	background-color: white;
	position: static;
}
#crew_sweatshirt {
	color:black;
	margin-right: 0%;
	background-color: white;
	position: static;
}
#polkadot_hoodie {
	color:black;
	margin-right: 0%;
	background-color: white;
	position: static;
}
#grey_cap {
	color:black;
	margin-right: 0%;
	background-color: white;
	position: static;
}
#black_visor {
	color:black;
	margin-right: 0%;
	background-color: white;
	position: static;
}
#grey_beanies {
	color:black;
	margin-right: 0%;
	background-color: white;
	position: static;
}
#magnet {
	color:black;
	margin-right: 0%;
	background-color: white;
	position: static;
}

#sling_bag {
	color:black;
	margin-right: 0%;
	background-color: white;
	position: static;
}
#volunteer_options {
	color: black;
	background-color: white;
	margin-left: 0%;
	position: static;
	text-align: left;
}

#why_volunteer {
	color: black;
	background-color: white;
	margin-left: 0%;
	position: static;
	text-align: left;
}

.navigation {
	list-style: none:
	margin: 0;
	background: white;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-webkit-flex-flow: row wrap;
	justify-content: flex-start;
}
.navigation a {
	text-decoration: none;
	display: block;
	padding: 1em;
	color: black;
}
.navigation a:hover {
	background: #808080;
}

@media all and (max-width: 800px) {
	.navigation {
		justify-content: space-around;
	}
}

@media all and (max-width: 600px) {
	.navigation {
		-webkit-flex-flow: column wrap;
		flex-flow: column wrap;
		padding: 0;
	}
	
	.navigation a {
		text-align: left;
		padding: 10px;
		border-top: 1px solid rgba(255,255,255,0.3);
		border-bottom: 1px solid rgba(0,0,0,0.1);
		}

	.navigation li: last-of-type a {
		border-bottom: none;
	}
}
	  	  