#header { 
	color: white;
	text-align: center;
	background-color: blue;
	position: static;
	margin-top: 0%;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	padding-top: 1%;
	padding-bottom: 1%;
}
#Member_Information {
	border: 1% solid black;
	color: white;
	background-color: gray;
	position: static;
	margin-right: 70%;
}
#section {
	color: black;
	margin-left: 30%;
	position: static;
	background-color: white;
	
}
#footer {
	color: white;
	position: fixed;
	background-color: black;
}





#events {
	color: black;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 10%;
	margin-top: 25%;
	background-color: grey;
	position: static;
}




#donations_paragraph {
	color: black;
	text-align: center;
	margin-right: 20%;
	background-color: white;
	position: static;
}





#t-shirt {
	color:black;
	margin-top: 20%;
	margin-left: 0%;
	margin-right: 0%;
	
	background-color: white;
	position: static;
}
#long_sleeve {
	color:black;
	margin-right: 0%;
	background-color: white;
	position: static;
}
#hoodie {
	color:black;
	margin-right: 0%;
	background-color: white;
	position: static;
}
#crew_sweatshirt {
	color:black;
	margin-right: 0%;
	background-color: white;
	position: static;
}
#polkadot_hoodie {
	color:black;
	margin-right: 0%;
	background-color: white;
	position: static;
}
#grey_cap {
	color:black;
	margin-right: 0%;
	background-color: white;
	position: static;
}
#black_visors {
	color:black;
	margin-right: 0%;
	background-color: white;
	position: static;
}
#grey_beanies {
	color:black;
	margin-right: 0%;
	background-color: white;
	position: static;
}
#magnet {
	color:black;
	margin-right: 0%;
	background-color: white;
	position: static;
}






#volunteer_options {
	color: black;
	background-color: white;
	margin-left: 0%;
	position: static;
}

.navigation {
	list-style: none:
	margin: 0;
	background: blue;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-webkit-flex-flow: row wrap;
	justify-content: flex-start;
}
.navigation a {
	text-decoration: none;
	display: block;
	padding: 1em;
	color: white;
}
.navigation a:hover {
	background: black;
}

@media all and (max-width: 800px) {
	.navigation {
		justify-content: space-around;
	}
}

@media all and (max-width: 600px) {
	.navigation {
		-webkit-flex-flow: column wrap;
		flex-flow: column wrap;
		padding: 0;
	}
	
	.navigation a {
		text-align: left;
		padding: 10px;
		border-top: 1px solid rgba(255,255,255,0.3);
		border-bottom: 1px solid rgba(0,0,0,0.1);
		}

	.navigation li: last-of-type a {
		border-bottom: none;
	}
}
